<div class="sign-in-wrapper">
  <h1 class="sign-in-title">Sign in</h1>
  <%= form_for(resource, as: resource_name, url: user_path(), :method => :post) do |f| %>
      <!--<div> <%= f.hidden_field :email, value: @invites.email, :class => 'form-control' %></div>-->
      <!--<div> <%= f.hidden_field :project_id, value: @invites.project_id, :class => 'form-control' %></div>-->
      <div> <%= f.hidden_field :token, value: @invites.token, :class => 'form-control' %></div>
      <div> <%= f.text_field :name, :class => 'form-control' %></div>
      <div><%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %></div>
      <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
      </div>
      <div>
        <%= f.submit "Sign in", :class => 'btn btn-primary btn-lg btn-block' %>
      </div>
      <div class="clear-fix"></div>
  <% end %>
  <div><%= link_to "Create New Account", account_path(), :class => 'btn btn-link pull-right' %></div>
  <div class="clear-fix"></div>
</div>