<div class="new-account">

  <h2 class="profile-title">
    <% if (current_user.present?) %>
        Edit Profile <%= image_tag(@user.image_url(:small_thumb), :class => "pull-right nav-avatar") if @user.image? %>
    <% else %>
        Sign up
    <% end %>
  </h2>
  <%= form_for(resource, as: resource_name, url: current_user.present? ? profile_path() : account_path(), :html => { :method => current_user.present? ? :put : :post}) do |f| %>
      <%= devise_error_messages! %>

      <div>
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, :class => 'form-control' %>
      </div>

      <div>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
      </div>

      <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
      </div>

      <div>
        <%= f.label :country %>
        <%= f.select(:country, ['Bangladesh', 'India', 'Pakistan'], :class => 'form-control') %>
      </div>

      <div>
        <%= f.label :zip %>
        <%= f.number_field :zip, :class => 'form-control' %>
      </div>

      <div>
        <%= f.label :image %>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </div>

      <div style="margin-top: 10px;">
        <% if (!current_user.present?) %>
            <%= f.submit "Sign up", :class => 'btn btn-primary btn-lg btn-block' %>
        <% else %>
            <%= f.submit "Update", :class => 'btn btn-primary btn-lg btn-block' %>
        <% end %>
      </div>
  <% end %>
  <div class="pull-right"> <%= render "devise/shared/links" %> </div>
</div>
