<%= form_for(resource, as: resource_name, url: current_user.present? ? profile_path() : account_path(), :html => {:method => current_user.present? ? :put : :post, :class => 'user-account'}) do |f| %>
    <header>
      <% if current_user.present? %>
          Account Edit form
      <% else %>
          Registration Form
      <% end %>
    </header>
    <fieldset>
      <section>
        <label class="input">
          <i class="icon-append icon-user"></i>
          <%= f.text_field :name, autofocus: true, :placeholder => 'full name' %>
          <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
        </label>
      </section>

      <section>
        <label class="input">
          <i class="icon-append icon-envelope-alt"></i>
          <%= f.email_field :email, autofocus: true, :placeholder => 'email' %>
          <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
        </label>
      </section>

      <section>
        <label class="input">
          <i class="icon-append icon-lock"></i>
          <%= f.password_field :password, autocomplete: "off", :placeholder => 'password' %>
          <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
        </label>
      </section>

      <section>
        <label class="input">
          <i class="icon-append icon-lock"></i>
          <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'confirm password' %>
          <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
        </label>
      </section>
    </fieldset>

    <fieldset>
      <section>
        <label class="input">
          <%= f.number_field :zip, :placeholder => 'zip code' %>
        </label>
      </section>

      <section>
        <label style='width: 100%;' class='reset-margin'>
          <%= f.select(:country, ['Bangladesh', 'India', 'Pakistan'], {}, prompt: true) %>
          <i></i>
        </label>
      </section>

      <section>
        <div class='image-upload btn btn-default'>
          <i class='icon-upload'></i> Upload image
          <%= f.file_field :image, :class => 'upload' %>
          <%= f.hidden_field :image_cache %>
        </div>
      </section>

      <section>
        <label class="checkbox">
          <input name="checkbox" type="checkbox"><i></i>I agree to the Terms of Service
        </label>
        <label class="checkbox">
          <input name="checkbox" type="checkbox"><i></i>I want to receive news and special offers
        </label>
      </section>
      <% unless current_user.present? %>
          <section>
            <%= render 'shared/social_signup' %>
          </section>
      <% end %>
    </fieldset>
    <footer>
      <% if !current_user.present? %>
          <%= f.submit "Sign up", :id => 'registration', :class => 'button' %>
      <% else %>
          <%= f.submit "Update", :class => 'button' %>
      <% end %>
    </footer>
<% end %>


<!--<h1 class='font_0'>-->
<!--
<% if (current_user.present?) %>-->
    <!--Edit Profile-->
    <!--
<% else %>-->
    <!--create new account-->
    <!--
<% end %>-->
<!--</h1>-->
<!--<%= form_for(resource, as: resource_name, url: current_user.present? ? profile_path() : account_path(), :html => {:method => current_user.present? ? :put : :post}) do |f| %>-->
    <!--<%= devise_error_messages! %>-->

    <!--<div>-->
    <!---->
    <!--</div>-->

    <!--<div>-->
    <!---->
    <!--</div>-->
    <!--<div>-->
    <!--->
    <!--</div>-->

    <!--<div>-->
    <!---->
    <!--</div>-->

    <!--<div>-->
    <!---->
    <!--</div>-->

    <!--<div>-->
    <!---->
    <!--</div>-->

    <!--<div>-->
    <!--<%= f.file_field :image %>-->
    <!--<%= f.hidden_field :image_cache %>-->
    <!--</div>-->

    <!--<div style="margin-top: 10px;">-->
    <!--
    <% if (!current_user.present?) %>-->
        <!--<%= f.submit "Sign up", :id => 'registration', :class => 'btn btn-primary btn-lg btn-block' %>-->
        <!--
    <% else %>-->
        <!--<%= f.submit "Update", :class => 'btn btn-primary btn-lg btn-block' %>-->
        <!--
    <% end %>-->
    <!--</div>-->
    <!--
<% end %>-->
<!--<div class="pull-right"> <%= render "devise/shared/links" %> </div>-->
