<div class='comments-item-wrapper' id='comments-<%= comment.id %>' data-comments-id='<%= comment.id %>'>
  <div class='comments-user'>
    <%= image_tag(get_image(comment.user_id), :width => '35', :class => 'img-circle') %>
    <span class='highlight-username'> <%= comment.user.name %> -  <%= time_ago_in_words(comment.created_at) %> ago </span>

  </div>
  <div class='comment-body'>
    <%= simple_format(comment.comment) %>
  </div>
  <div class='clearfix'></div>
  <div class='comments-reply hidden btn-group'>
    <%= link_to raw("<i class='fa fa-reply'> Reply </i>"), reply_task_comment_path(comment.task, comment), :class => 'reply', :remote => true %>
    <%= link_to raw("<i class='fa fa-pencil'> Edit </i>"), edit_task_comment_path(comment.task, comment), :class => 'comments-edit', :remote => true %>
    <%= link_to raw("<i class='fa fa-trash-o'> Delete </i>"), task_comment_path(comment.task, comment), :remote => true,
                method: :delete, data: {confirm: 'Are you sure?'}, :class => 'delete', task_id: comment.task_id, id: comment.id %>
  </div>
</div>