<%= form_for [@task, @comment], :html => { :remote => true } do |f| %>
    <div class='comments-wrapper'>
      <%= f.hidden_field :task_id %>
      <%= f.hidden_field :parent %>
      <div class='write-reply'>
       <%= f.text_area :comment, :class => 'task-comments-field' %>
      </div>
      <div class='pull-right button-padding btn-group'>
        <button type='button' id='btncmtcncel' class='btn btn-default'>Cancel</button>
        <%= f.submit "Save", :class => 'btn btn-default' %>
      </div>
      <div class='clearfix'></div>
    </div>
<% end %>
<script type="text/javascript">
  $(function() {
      $('.task-comments-field').jqte();
  })
</script>

