<div class='container-fluid'>
  <div class='row-fluid'>
    <%= form_for [@project, @task] do |f| %>
        <div class='field'>
          <div class='btn-group' data-toggle='buttons'>
            <label class='btn btn-primary active task-type'>
              <input type='radio' name='task[task_type]' value="feature" id='option1' checked> Task
            </label>
            <label class='btn btn-danger task-type'>
              <input type='radio' name='task[task_type]' value="bug" id='option2'> Bug
            </label>
          </div>
        </div>
        <div class='left-side'>
              <div class='field'>
                <%= f.label :title %>
                <%= f.text_field :title, autofocus: true, :class => 'form-control', :style => '' %>
                <span id='errorForName'></span>
              </div>
              <div class='field'>
                <%= f.label :description %>
                <br/>
                <%= f.text_area :description, :class => 'form-control jqte-test', :style => 'height:168px;' %>
              </div>
          </div>
          </div>
            <div class='right-side'>
              <div class='field'>
                <%= f.label :priority %>
                <br>
                <%= f.select(:priority, ['High', 'Medium', 'Low'], {}, prompt: true, :class => 'form-control') %>
              </div>
              <div class='field'>
                <%= f.label :effort %>
                <br>
                <%= f.number_field :effort, autofocus: true, :class => 'form-control' %>
              </div>
              <div class='field'>
                <%= label_tag('assigned') %>
                <br>
                <%= select_tag('assigned', options_from_collection_for_select(@project.users, :id, :name), :class => 'form-control') %>
              </div>
              <div class='field'>
                <%= f.label :end_date %>
                <br>
                <%= f.text_field :end_date, autofocus: true, :class => 'form-control' %>
              </div>
            </div>
    <% end %>
  </div>
</div>


<script type='text/javascript'>
    $(document).ready(function () {
        $('#task_end_date').datepicker({
            dateFormat: 'yy-mm-dd'
        });
        $('.jqte-test').jqte();
        $('.task-type').button('toggle');
    });
</script>