<div class="task-details task-details-<%= @task.id %>" data-task-id="<%= @task.id %>">
<ul class="nav nav-tabs task-detail-tab">
  <li class="active"><a href="#general" data-toggle="tab">General</a></li>
  <li><a href="#relation" data-toggle="tab">Relationship</a></li>
  <li><a href="#history" data-toggle="tab">History</a></li>
  <li>
    <a href="#" type="button" class="dropdown-toggle" data-toggle="dropdown">
      Action <span class="caret"></span>
    </a>
    <ul class="dropdown-menu btn-danger" role="menu">
      <li>
        <%= link_to 'Remove task', project_task_path(@task.project_id, @task), :class => 'remove_task', :confirm => 'Are you sure?', :method => :delete, :remote => true %>
      </li>
    </ul>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="task-title">
    <label class="label label-primary"> Task </label>

    <div class="task-name task-detail-title inline" title="Double click to edit"> <%= @task.title %> </div>
    <div class='edit-task-label'>
      <div class='btn-group'>
        <a class="btn btn-primary <%= @task.task_type == 'feature' ? 'active' : '' %> task-type" href="javascript:void(0);" data-value="feature">
          Task
        </a>
        <a class='btn btn-danger <%= @task.task_type == 'bug' ? 'active' : '' %> task-type' href="javascript:void(0);" data-value="bug">
          Bug
        </a>
      </div>
    </div>
  </div>
  <div class="tab-pane active task-details-content-left pull-left" id="general">
    <div class="task-description" contenteditable>
      <%= @task.description %>
    </div>

    <div class="attachment-list">
      <% @task.attachments.each do |attachment| %>
          <% if attachment.file.present? %>
              <%= render :partial => 'task_attachment', :locals => {:attachment => attachment} %>
          <% end %>
      <% end %>
    </div>

    <div class="add-attachment">
      <%= form_for(@attachment, :hrml => {:multipart => true}, :id => "myForm") do |f| %>
          <%= f.file_field(:file, :class => 'file_upload', :data_task_id => @task.id) %>
      <% end %>
      <div class='hints-upload'>
        Drag and drop upload attachment, any type of file and image are accepted.
      </div>
    </div>

    <div id="checklist">
      <% @task.checklists.each do |checklist| %>
          <%= render 'checklists/checklist_items', :checklist => checklist %>
      <% end %>
    </div>

    <div id="comments">
      <div>
        <b> Comments </b>
      </div>
      <ul class="comments-list reset-padding">
        <% @comments.each do |comment| %>
            <%= comments_replies comment %>
        <% end %>
      </ul>
    </div>
    <div>
      <%= link_to 'Add Comments...', new_task_comment_path(@task), :remote => true, :class => "add-cmnt btn btn-link" %>
    </div>
  </div>

  <!- Relation Tab content ->

  <div class="tab-pane task-details-content-left pull-left" id="relation">

  </div>

  <!- History Tab content ->

  <div class="tab-pane task-details-content-left pull-left" id="history">
    <ul class="history-list">
      <% @task.histories.each do |history| %>
          <%= render :partial => 'tasks/history_item', :locals => {:history => history} %>
      <% end %>
    </ul>
  </div>

  <!- Right side bar content ->

  <div class="pull-right task-details-content-right">
    <div class='add-checklist-wrapper'>
      <a href="javascript:void(0);" id="add-checklist"> <i class='fa fa-list fa-task-item'> </i> Add checklist </a>
      <input type="text" placeholder="add title..." id="checklist-input" class='hidden'/>
    </div>
    <div class="panel panel-default progress-info">
      <div class="panel-heading">
        <h3 class="panel-title"> Progress</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>
            <div class="progressbar" style="margin-bottom: 10px;">
              <span class='progress-text'> <%= task_progress(@task).round %>% </span>
            </div>
          </li>
          <li>
            <label class="info-label"> Effort </label>

            <div class="info-txt progress-effort" contenteditable data-task-field="effort"><%= @task.effort %></div>
            h
          </li>
          <li>
            <label class="info-label"> Spend </label>

            <div class="info-txt progress-spend" data-task-field="spend" contenteditable><%= @task.spend %></div>
            h
          </li>
          <li>
            <label class="info-label"> Remaining </label>
            <span class="info-txt progress-remaining"><%= remaining_effort(@task).round(2) %></span> h
          </li>
        </ul>
      </div>
    </div>

    <div class="panel panel-success task-info">
      <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>
            <label class="info-label"> Owner </label>
            <span class="info-txt"><%= current_user.name %> </span>
          </li>
          <li>
            <label class="info-label"> Create date</label>
            <span class="info-txt"><%= @task.created_at %> </span>
          </li>
          <li>
            <label class="info-label"> End date</label>
            <input type="text" value="<%= @task.end_date %>" class="info-txt edit-end-date" readonly>
          </li>
          <li class="priority-list">
            <label class="info-label"> Priority </label>
                 <span class="info-txt task-priority">
                       <%= image_tag("task_#{@task.priority.downcase}.png", :title => 'Priority') %>
                 </span>
            <ul class="dropdown-menu priority-dropdown">
              <li class="reset-padding">
                <a href="javascript:void(0)" class="change-priority" data-task-field="priority" data-value="Low">Low</a>
              </li>
              <li class="reset-padding">
                <a href="javascript:void(0)" class="change-priority" data-task-field="priority" data-value="Medium">Medium</a>
              </li>
              <li class="reset-padding">
                <a href="javascript:void(0)" class="change-priority" data-task-field="priority" data-value="High">High</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default assign-unassign-people">
      <div class="panel-heading">
        <h3 class="panel-title"> Assigned People</h3>
      </div>
      <div class="panel-body assign-people">

        <% @task.users.each do |user| %>
           <span class="assigned-people" data-assigned-user-id="<%= user.id %>" data-assigned-name="<%= user.name %>">
             <%= image_tag(user.image.present? ? user.image_url(:small_thumb) : 'default_user_icon.png', :id => "assign-user-#{user.id}-#{@task.id}", :class => 'nav-avatar') %>
           </span>
        <% end %>
        <span class="assigned-new-people">
             <%= image_tag("new_project_icon.png", :class => 'nav-avatar') %>
          <ul class="assigned-people-list dropdown-menu" id="assigned-list">
            <% @rest = rest_of_users(@task.users, @project.users) %>
            <% @rest.each do |user| %>
                <li>
                  <a href="javascript:void(0)" class="assigned-in-task" data-value="<%= user.id %>"><%= user.name %></a>
                </li>
            <% end %>
          </ul>
          </span>

        <div class="unassigned-pophover">
          <a href="javascript:void(0);" class="unassigned-people" data-assigned-user="" data-name=""> Unassigned </a>
        </div>

      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</div>

<script type="text/javascript">
    $('.dropdown-toggle').dropdown();
    $(document).ready(function () {
        $(".progressbar").progressbar({
            value: <%= task_progress(@task) %>
        });
        $(".edit-end-date").datepicker({
            dateFormat: 'yy-mm-dd'
        });
        $('#history .history-list').perfectScrollbar();
        $('#history .history-list').scrollTop(0);
    });

    $(document).on("mouseover", ".comments-list li", function () {
        $(this).find(".comments-reply").removeClass('hidden');
    });

    $(document).on("mouseout", ".comments-list li", function () {
        $(".comments-reply").addClass('hidden');
    });

//    $(document).off("click", ".add-cmnt").on("click", ".add-cmnt", function () {
//        $.ajax({
//            url: "/tasks/<%= @task.id %>/comments",
//            type: 'get',
//            success: function(html) {
//                $(this).addClass('hidden');
//            }
//        });
//    });


    $(document).off("click", "#btncmtcncel").on("click", "#btncmtcncel", function () {
        $('.new_comment, .edit_comment').remove();
        $("#write-comments").addClass('hidden');
        $(".add-cmnt").removeClass('hidden');
    });


    $(document).off("click", ".reply").on("click", ".reply", function () {
        //var element = $(this);
//        $.ajax({
//            url: "/tasks/<%#= @task.id %>/comments/:id/edit(.:format)",
//            type: 'get',
//            success: function(html) {
//                element.parent().before(html);
//                element.parents('.comments-item-wrapper').find('.jqte_editor').focus();
//            }
//        });
       // $(".reply-wrapper, .edit-wrapper").remove();
       // $(this).parent().before("<%#= escape_javascript(render :partial => 'comments/reply', :locals => {:task => @task} )%>");

    });

//    $(document).off("click", ".comments-edit").on("click", ".comments-edit", function () {
//        $(".edit-wrapper, .reply-wrapper").remove();
//        edit_comments = $(this);
//        edit_comments.parent().before("<%#= escape_javascript(render :partial => 'comments/edit', :locals => {:task => @task})%>");
//        comments_id = edit_comments.attr('id');
//        edit_context = edit_comments.parents('.comments-item-wrapper').find('.content-right').html();
//        edit_comments.parents('.comments-item-wrapper').find('.jqte_editor').html(edit_context).focus();
//        $("#editbtn").attr('data-comments-id', comments_id);
//    });

//    $(document).off("click", ".remove_task").on("click", ".remove_task", function () {
//        task_id = $(this).attr('data-task-id');
//        project_id = $(this).attr('data-project-id');
//        $.ajax({
//            type: 'DELETE',
//            url: '/tasks/' + task_id,
//            dataType: 'script',
//            data: {project_id: project_id},
//            success: function (res) {
//
//            },
//            error: function (e) {
//
//            }
//        });
//    });

    $('#add-checklist').click(function () {
        $(this).next().removeClass('hidden');
        $(this).hide();
    });

    $('#checklist-input').blur(function () {
        $('#add-checklist').show();
        $(this).addClass('hidden');
    });

    $(document).off('keypress', '#checklist-input').on('keypress', '#checklist-input', function (e) {
        console.log(e.which);
        if (e.which == 13 && $(this).val().length > 2) {
            $.ajax({
                url: "<%= checklists_path() %>",
                type: 'post',
                data: {task_id: <%= @task.id %>, title: $(this).val()},
                dataType: 'script',
                success: function () {
                    $('#checklist-input').val('').addClass('hidden');
                    popupMessage("Success", '');
                }
            });
        }
    });

    $(document).off('click', '.add-checklist-item').on('click', '.add-checklist-item', function (e) {
        $(this).prev().removeClass('hidden').focus();
        $(this).hide();
    });

    $(document).off('keypress', '.add-check-item, .edit-check-item').on('keypress', '.add-check-item, .edit-check-item', function (e) {
        if (e.which == 13) {
            var value = $(this).val();
            if (value.length > 2) {
                $(this).addClass('hidden');
                $(this).prev('.editable').show().html(value);
                $(this).next('.editable').show().html(value);
            }
            else {
                alert(":(");
            }
        }
    });

    $(document).on('blur', '.show-checklist input[type="text"]', function (e) {
        $(this).addClass('hidden');
        $('.add-checklist-item').show();
        if ($(this).val().length > 2) {
            $(this).prev('.editable').show().html($(this).val());
            $(this).next('.editable').show().html($(this).val());
        }
        else {
            $(this).prev('.editable').show();
            $(this).next('.editable').show();
        }
    });

    $(document).off('click', '.show-checklist input[type="checkbox"]').on('click', '.show-checklist input[type="checkbox"]', function (e) {
        $(this).parents('form').submit();
    });

    $(document).off('click', '.show-checklist .editable').on('click', '.show-checklist .editable', function (e) {
        $(this).prev('input[type="text"]').removeClass('hidden').focus();
        $(this).next('input[type="text"]').removeClass('hidden').focus();
        $(this).hide();
    });

    $(document).off('click', '.complete-checklist').on('click', '.complete-checklist', function() {
        var checklist_id = $(this).attr('data-checklist');
        var id = $(this).attr('data-id');
        $.ajax({
            url: " /checklists/"+checklist_id+"/checklist_items/"+id+"/complete",
            type: 'get',
            dataType: 'script',
            error: function() {
              alert(":(");
            }
       });
    });

    $(document).on({
        mouseenter: function(){
            $('.checklist-item-action').hide();
            $(this).find('.checklist-item-action').show();
        },
        mouseleave: function(){
            $('.checklist-item-action').hide();
        }
    }, '.show-checklist ul li');

    $(document).on('click', '.minimize-checklist', function() {
        content = $(this).parents('.show-checklist').find('ul');
        if(content.hasClass('hide')) {
            content.removeClass('hide');
            $(this).find('span').addClass('fa-sort-asc')
            $(this).find('span').removeClass('fa-sort-desc')
        }
        else {
            content.addClass('hide');
            $(this).find('span').addClass('fa-sort-desc')
            $(this).find('span').removeClass('fa-sort-asc')
        }
    });

</script>