<div class='task-item <%= task.task_type %> <%= day_remaining_status(task) %>' data-task-id='<%= task.id %>' id='task-<%= task.id %>' data-project-id='<%= task.project.id %>'>
  <div class='pull-left content-left'>
    <ul>
      <li class='task-name'>
        <%= truncate(task.title, :length => 50, :omission => '...') %>
      </li>
      <li>
        <span class='task-end-date'> <i class="fa fa-calendar reset-margin fa-task-item task-element"></i> <%= task.end_date %> </span>
        <span class='task-element'>
          <% if task.attachments.present? %>
              <i class="fa fa-paperclip"></i>
          <%end%>
        </span>
        <span class='comments-count task-element'> <%= task.comments.size %><i class='fa fa-comments fa-task-item'></i> </span>
        <% if task.checklists.present? %>
          <span class='task-element'> <i class="fa fa-tasks task-element fa-task-item"></i> </span>
        <%end%>
      </li>
    </ul>
  </div>
  <div class='pull-right content-right'>
    <ul>
      <li class='clearfix'>
        <div class='task-priority-<%= task.priority.downcase %> pull-right' title='Priority <%= task.priority %>'>
          <i class='fa fa-signal fa-task-item'>  </i>
        </div>
      </li>
      <li>
        <span class='total-effort'> <%= task.effort.present? ? task.effort : 0.0 %> </span> <i class='fa fa-clock-o fa-task-item'></i>
      </li>
      <li class='assigned-member'>
        <% if task.users.count > 1 %>
            <%= image_tag user_avatar(task.users.first().id, 'small'), :class => 'img-circle assign-member', :title => "#{task.users.first().name}" %>
            <a href='javascript:void(0);' class='btn-link' title='More'> ... </a>
        <%elsif task.users.count == 1 %>
            <%= image_tag user_avatar(task.users.first().id, 'small'), :class => 'img-circle assign-member', :title => "#{task.users.first().name}" %>
        <%else%>
          Unassign
        <%end%>
      </li>
    </ul>
  </div>
  <div class='clear-fix'></div>
</div>