<div class='task-item <%= task.task_type %> <%= day_remaining_status(task) %>' data-task-id='<%= task.id %>' id='task-<%= task.id %>' data-project-id='<%= task.project.id %>'>
  <div class='pull-left content-left'>
    <ul>
      <li class='task-name'>
        <%= truncate(task.title, :length => 50, :omission => '...') %>
      </li>
      <li>
        <%= image_tag('date.png', :title => 'End Date') %>
        <span class='task-end-date'> <%= task.end_date %> </span>
        <span class='pull-right'>
          <% if task.attachments.present? %>
             <%= image_tag('has_attachment.png', :class => 'has-attachment') %>
          <%end%>
        </span>
        <span class='pull-right comments-count'> <%= task.comments.size %> </span>
      </li>
    </ul>
  </div>
  <div class='pull-right content-right'>
    <ul>
      <li>
        <%= image_tag("task_#{task.priority.downcase}.png", :title => 'Priority', :class => 'pull-right task-priority-icon') %>
        <div class='clear-fix'></div>
      </li>
      <li style='vertical-align: middle;'>
        <span class='total-effort'> <%= task.effort.present? ? task.effort : 0.0 %> </span>h <%= image_tag('effort.png', :title => 'Effort') %>
      </li>
      <li>
        <span class='glyphicon-class'></span>
        <% if task.users.count > 1 %>
           <%= image_tag(task.users.first().image_url(:small_thumb), :class => 'img-circle assign-member', :title => "#{task.users.first().name}") if task.users.first().image? %>
           <a href='javascript:void(0);' class='btn-link' title='More'> ... </a>
        <%elsif task.users.count == 1 %>
            <% if task.users.first().image? %>
                <%= image_tag(task.users.first().image_url(:small_thumb), :class => 'img-circle assign-member', :title => "#{task.users.first().name}") %>
            <%else%>
                <%= image_tag("default_user_icon.png", :class => 'nav-avatar img-circle') %>
            <%end%>
        <%else%>
          Unassign
        <%end%>
      </li>
    </ul>
  </div>
  <div class='clear-fix'></div>
</div>