<div class="attachment-item attachment-image-item" data-attachment-type="<%= attachment.file %>">
    <% if is_image?(attachment.file) %>
      <%= image_tag(attachment.file) %>
      <div class="attachment-hover-details">
        <div class='attachment-action-wrapper'>
          <a href="javascript:void(0);" class="attachment-action quick-view"> <i class='fa fa-eye fa-task-item'> </i> </a>
          <a href="<%= download_attachment_path(attachment) %>" class="attachment-action"> <i class='fa fa-download fa-task-item'> </i> </a>
          <a href="javascript:void(0);" class="attachment-action"> <i class='fa fa-trash-o fa-task-item'> </i> </a>
        </div>
      </div>
    <%else%>
      <div class="attachment-hover-details">
        <div class='attachment-action-wrapper'>
          <a href="<%= download_attachment_path(attachment) %>" class="attachment-action"> <i class='fa fa-download fa-task-item'></i> </a>
          <a href="javascript:void(0);" class="attachment-action"> <i class='fa fa-trash-o fa-task-item'> </i> </a>
        </div>
      </div>
    <% end %>

  <div class="attachment-date">
    <span><%= attachment.created_at  %></span>
    <span><%= attachment.file.to_s.split('/').last  %></span>
  </div>
</div>

