<div class="task-details" data-task-id="<%= @task.id %>">
  <ul class="nav nav-tabs task-detail-tab">
    <li class="active"><a href="#general" data-toggle="tab">General</a></li>
    <li><a href="#relation" data-toggle="tab">Relationship</a></li>
    <li><a href="#history" data-toggle="tab">History</a></li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="task-title">
      <label class="label label-primary"> Task </label>
      <div class="task-name inline"> <%= @task.title %> </div>
    </div>
    <div class="tab-pane active task-details-content-left pull-left" id="general">
      <div class="task-description" contenteditable>
        <%= @task.description %>
      </div>

      <div class="attachment-list">
        <% @task.attachments.each do |attachment| %>
            <% if attachment.file.present? %>
                <%= render :partial => 'task_attachment', :locals => {:attachment => attachment} %>
            <% end %>
        <% end %>
      </div>

      <div class="add-attachment">
        <%= form_for(@attachment, :hrml => {:multipart => true}, :id => "myForm") do |f| %>
            <%= f.file_field(:file, :class => 'file_upload', :data_task_id => @task.id) %>
        <% end %>
      </div>

      <div id="comments">
        <div>
          <b> Comments </b>
        </div>
        <ul class="comments-list reset-padding">
          <% @comments.each do |comment| %>
              <li>
                <%= render :partial => 'shared/comments_item', :locals => {:comment => comment} %>
                <div class="comments-reply" style="visibility: hidden">
                  <%=   link_to 'reply', 'javascript:void(0);', class: :reply , parent: comment.id %>
                </div>
              </li>
          <% end %>
        </ul>
      </div>

      <div id="write-comments" style="margin-bottom: 10px;">
        <textarea style="" class="form-control jqte-test"></textarea>
        <button type="button" id="btncomment" class="btn btn-default pull-right"> Done </button>
        <div class="clearfix"> </div>
      </div>
   </div>

    <!- Relation Tab content ->

    <div class="tab-pane task-details-content-left pull-left" id="relation">

    </div>

    <!- History Tab content ->

    <div class="tab-pane task-details-content-left pull-left" id="history">
      <ul>
        <% @task.histories.each do |history| %>
            <%= render :partial => 'tasks/history_item', :locals => {:history => history} %>
        <% end %>
      </ul>
    </div>

    <!- Right side bar content ->

    <div class="pull-right task-details-content-right">
      <div class="panel panel-default progress-info">
        <div class="panel-heading">
         <h3  class="panel-title"> Progress</h3>
        </div>
        <div class="progressbar" style="margin-top: 10px;">
        </div>
        <div class="panel-body">
          <li>
            <label class="info-label"> Effort </label>
            <span class="info-txt"><%= @task.effort %> h </span>
          </li>
          <li>
            <label class="info-label"> Spend </label>
            <span class="info-txt"><%= @task.spend %> h </span>
          </li>
          <li>
            <label class="info-label"> Remaining </label>
            <span class="info-txt"><%= remaining(@task) %> h </span>
          </li>
        </div>
      </div>

      <div class="panel panel-success task-info">
        <div class="panel-heading">
          <h3 class="panel-title">Information</h3>
        </div>
        <div class="panel-body">
        <ul>
          <li>
            <label class="info-label"> Owner </label>
            <span class="info-txt"><%= current_user.name %> </span>
          </li>
          <li>
             <label class="info-label"> Create date</label>
             <span class="info-txt"><%= @task.created_at %> </span>
          </li>
          <li>
            <label class="info-label"> End date</label>
            <span class="info-txt"><%= @task.end_date %> </span>
          </li>
          <li>
            <label class="info-label"> Priority </label>
            <span class="info-txt">
              <%= image_tag("task_#{@task.priority.downcase}.png", :title => 'Priority') %>
            </span>
          </li>
          <li>
            <label> Assigned People</label>
          </li>
        </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.jqte-test').jqte();

        $(".progressbar").progressbar({
            value: 50
        });
    });

    $('#btncomment').click(function () {

        comment = $("textarea").val();
        $.ajax({
            type: 'POST',
            url: "<%= task_comments_path(@task.id) %>",
            dataType: 'script',
            data: { comment: comment},
            success: function (res) {

            },
            error: function (e) {

            }
        });
    });
    $(".comments-list li").mouseover(function () {

        $(this).find(".comments-reply").css('visibility', 'visible');

    });

    $(".comments-list li").mouseout(function(){
        $(this).find(".comments-reply ").css('visibility','hidden');

    });

        $(".reply").click(function(){
            parent =  $(this).attr("parent");
            $(".reply-wrapper").remove();
            $(this).parent().before("<%= escape_javascript(render :partial => 'shared/reply' )%>");
            $(".btn").click(function(){
                reply =$(".reply_input").val();
                alert(reply);
                $.ajax({
                    type: 'POST',
                    url: "<%= task_comments_path(@task.id) %>",
                    dataType: 'script',
                    data: { comment: reply, parent:  parent},
                    success: function (res) {

                    },
                    error: function (e) {

                    }
                });
            })
        });



</script>