<div class="task-details" data-task-id="<%= @task.id %>">
  <ul class="nav nav-tabs task-detail-tab">
    <li class="active"><a href="#general" data-toggle="tab">General</a></li>
    <li><a href="#relation" data-toggle="tab">Relationship</a></li>
    <li><a href="#history" data-toggle="tab">History</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="task-title">
      <label class="label label-primary"> Task </label>
      <div class="task-name inline"> <%= @task.title %> </div>
    </div>
    <div class="tab-pane active task-details-content-left pull-left" id="general">
      <div class="task-description" contenteditable>
        <%= @task.description %>
      </div>
      <div class="attachment-list">
        <% @task.attachments.each do |attachment| %>
            <% if attachment.file.present? %>
               <%= render :partial => 'task_attachment', :locals => {:attachment => attachment} %>
            <%end%>
        <%end%>
      </div>
      <div class="add-attachment">
        <%= form_for(@attachment, :hrml => {:multipart => true}, :id => "myForm") do |f| %>
            <%= f.file_field(:file, :class => 'file_upload', :data_task_id => @task.id) %>
        <% end %>
      </div>
      <div id="comments">
        <ul class="comments-list reset-padding">
          <li>
            <%= render :partial => 'shared/comments_item' %>
            <ul class="comments-list">
              <li>
                <%= render :partial => 'shared/comments_item' %>
              </li>
              <li>
                <%= render :partial => 'shared/comments_item' %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div id="write-comments">
        <textarea style="" class="form-control jqte-test"></textarea>
      </div>
    </div>

    <!- Relation Tab content ->

    <div class="tab-pane task-details-content-left pull-left" id="relation">

    </div>

    <!- History Tab content ->

    <div class="tab-pane task-details-content-left pull-left" id="history">
      <ul>
         <% @task.histories.each do |history| %>
           <%= render :partial => 'tasks/history_item', :locals => {:history => history} %>
         <%end%>
      </ul>
    </div>

    <!- Right side bar content ->

    <div class="pull-right task-details-content-right">
      <div class="task-info">
        <div class="task-info-title"> Progress</div>
        <div class="progressbar" style="margin: 4px;"></div>
      </div>

      <div class="task-info">
        <div class="task-info-title"> Information</div>
        <ul>
          <li>
            <label class="info-label"> Owner </label>
            <span class="info-txt">:<%= current_user.name %> </span>
          </li>
          <li>
             <label class="info-label"> Create date</label>
             <span class="info-txt">:<%= @task.created_at %> </span>
          </li>
          <li>
            <label class="info-label"> End date</label>
            <span class="info-txt">:<%= @task.end_date %> </span>
          </li>
          <li>
            <label class="info-label"> Priority </label>
            <span class="info-txt">:<%= @task.priority %> </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
      $('.jqte-test').jqte();

      $(".progressbar").progressbar({
          value: 50
      });
  });
</script>