<div class="task-details">
  <ul class="nav nav-tabs task-detail-tab">
    <li class="active"><a href="#general" data-toggle="tab">General</a></li>
    <li><a href="#relation" data-toggle="tab">Relationship</a></li>
    <li><a href="#history" data-toggle="tab">History</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active task-details-content-left pull-left" id="general">
      <div class="task-title">
        <label class="label label-primary"> Task </label>
        <div class="task-name inline"> <%= @task.title %> </div>
      </div>
      <div class="task-description" contenteditable>
        <%= @task.description %>
      </div>
      <div class="add-attachment">

      </div>
      <div id="comments">
        <ul class="comments-list reset-padding">

          <% @comments.each do |comment| %>
              <li>
                <%= render :partial => 'shared/comments_item', :locals => {:comment => comment} %>

              </li>
          <% end %>

        </ul>
      </div>
      <div id="write-comments">
        <textarea style="" class="form-control jqte-test"></textarea>
      </div>
      <div>
        <button type="button" id="btncomment" class="btn btn-primary">Save</button>
      </div>

    </div>
    <div class="tab-pane task-details-content-left pull-left" id="relation">...</div>
    <div class="tab-pane task-details-content-left pull-left" id="history">...</div>
    <div class="pull-right task-details-content-right">
      <div class="task-info">
        <div class="task-info-title"> Progress</div>
        <div class="progressbar" style="margin: 4px;"></div>
      </div>

      <div class="task-info">
        <div class="task-info-title"> Information</div>
        <ul>
          <li> Owner: <%= current_user.name %> </li>
          <li> Create date: <span> 12/02/2014 </span> </li>
          <li> End date: <span> 12/02/2014 </span> </li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.jqte-test').jqte();

        $( ".progressbar" ).progressbar({
            value: 50
        });
    });
    $('#btncomment').click(function () {

        comment = $("textarea").val();
        $.ajax({
            type: 'POST',
            url: "<%= task_comments_path(@task.id) %>",
            dataType: 'script',
            data: { comment: comment},
            success: function (res) {

            },
            error: function (e) {

            }
        });
    });
    $(".comments-list li").mouseover(function(){

        $(this).find(".comments-reply").css('visibility','visible');

    });

    $(".comments-list li").mouseout(function(){
        $(this).find(".comments-reply ").css('visibility','hidden');

    });

        $(".reply").click(function(){
            parent =  $(this).attr("parent");
            $(".reply-wrapper").remove();
            $(this).parent().before("<%= escape_javascript(render :partial => 'shared/reply' )%>");
            $(".btn").click(function(){
                reply =$(".reply_input").val();
                alert(reply);
                $.ajax({
                    type: 'POST',
                    url: "<%= task_comments_path(@task.id) %>",
                    dataType: 'script',
                    data: { comment: reply, parent:  parent},
                    success: function (res) {

                    },
                    error: function (e) {

                    }
                });
            })
        });



</script>