<div class="comments-item-wrapper" id="<%=comment.id %>">
  <div class="content-left pull-left">
     <%= image_tag(get_image(comment.user_id)) %>
  </div>
  <div class="content-right pull-left">
    <%= comment.comment %>
  </div>
  <div class="clearfix"></div>
  <div class="comments-reply" style="visibility: hidden;">
    <%=   link_to 'reply', 'javascript:void(0);', class: :reply , parent: comment.id %>
    <%=   link_to 'delete', 'javascript:void(0);',
                  method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete glyphicon glyphicon-trash" ,task_id: comment.task_id, id: comment.id %>
    <%=   link_to 'edit', 'javascript:void(0);', class: :edit , parent: comment.id %>
  </div>
</div>