<nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
  <ul class='nav navbar-nav'>
    <li style='padding: 3px 10px 0 2px;'>
      <%= image_tag('logo.png') %>
    </li>
    <li class='profile'>
      <%= image_tag(current_user.image_url(:small_thumb), :class => 'nav-avatar img-circle') if current_user.image? %>
      <b> <%= current_user.name %> </b>
    </li>
  </ul>
  <ul class='nav navbar-nav navbar-right'>
    <% if (action_name == 'dashboard') %>
        <li>
          <a data-toggle='dropdown' href='#' class='notification-menu dropdown-toggle'>
            <span> <%= History.notification(params[:id]).count %> </span>
          </a>

          <div class='notification-list dropdown-menu' data-projects-id='<%= params[:id] %>'>
            <div class='notification-title'>
              Project Notification
            </div>
            <ul role='menu' style='display: block;' aria-labelledby='dLabel' class='notification'>
              <%= render :partial => 'shared/notification', :locals => {:notifications => @notifications} %>
            </ul>
          </div>
        </li>
    <% end %>
    <li class='dropdown'>
      <a data-toggle='dropdown' class='dropdown-toggle settings-dropdown' href='#'> <img src='/assets/settings.png'>
      </a>
      <ul role='menu' class='dropdown-menu' aria-labelledby='dLabel'>

        <li><%= link_to 'Account', profile_path, :method => :get %></li>

        <li><%= link_to 'Home', root_path, :method => :get %></li>

        <li><%= link_to 'Settings', settings_path, :method => :get %></li>

        <li><%= link_to 'Projects', projects_path, :method => :get %></li>
        <li class='divider'></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>

      </ul>
    </li>
  </ul>
</nav>
