<nav class='navbar navbar-defauflt navbar-fixed-top' role='navigation'>
  <ul class='nav navbar-nav'>
    <li style='padding: 3px 10px 0 2px;'>
      <%= link_to(image_tag('processflow.png'), root_path(), :style => 'padding: 0 !important;', :class => 'logo-link') %>
    </li>
    <li class='profile'>
      <% if current_user.image? %>
          <%= image_tag(current_user.image_url(:small), :class => 'nav-avatar img-circle') %>
      <%else%>
          <%= image_tag("default_user_icon.png", :class => 'nav-avatar img-circle') %>
      <%end%>
      <b> <%= current_user.name %> </b>
    </li>
  </ul>
  <ul class='nav navbar-nav navbar-right' style="margin-right: 30px;">
     <%# if (action_name == 'show' && controller.controller_name == 'projects') %>
    <li class='dropdown'>
      <a data-toggle='dropdown' class='dropdown-toggle settings-dropdown' href='#'> <img src='/assets/settings.png'>
      </a>
      <ul role='menu' class='dropdown-menu' aria-labelledby='dLabel'>

        <li><%= link_to 'Account', profile_path, :method => :get %></li>

        <li><%= link_to 'Home', root_path, :method => :get %></li>

        <li><%= link_to 'Settings', settings_path, :method => :get %></li>

        <li><%= link_to 'Projects', projects_path, :method => :get %></li>
        <li class='divider'></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>

      </ul>
    </li>
  </ul>
  <ul class='nav navbar-right general-menu'>
    <li>
      <a href="#"> About Us </a>
    </li>
    <li>
      <a href="#"> Contact </a>
    </li>
    <li>
      <a href="#"> Support </a>
    </li>
    <li>
      <a href="#"> Blog </a>
    </li>
  </ul>
</nav>
<% if (action_name == 'dashboard') %>
    <div class="slide-notification-wrapper"  data-user-id="<%= current_user.id %>">
      <div class="slide-notification-icon">
        <i class="fa fa-bell has-notification"> </i>
        <span class="notification-count">
            <%= count_notification(params[:id], current_user.id) %>
        </span>
        <i class="fa fa-angle-double-right has-notification  hidden"> </i>
      </div>
      <div class='notification-title'>
        Project Notification
      </div>
      <ul class="notification-list">
        <% if @notifications.present? %>
            <%= render :partial => 'shared/notification', :locals => {:@notifications => @notifications} %>
        <% end %>
      </ul>
    </div>
<% end %>

<script>


</script>