<nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
  <ul class='nav navbar-nav'>
    <li style='padding: 3px 10px 0 2px;'>
      <%= link_to(image_tag('processflow.png'), root_path(), :style => 'padding: 0 !important;') %>
    </li>
    <li class='profile'>
      <% if current_user.image? %>
          <%= image_tag(current_user.image_url(:small_thumb), :class => 'nav-avatar img-circle') %>
      <%else%>
          <%= image_tag("/assets/default_user_icon.png", :class => 'nav-avatar img-circle') %>
      <%end%>
      <b> <%= current_user.name %> </b>
    </li>
  </ul>
  <ul class='nav navbar-nav navbar-right'>
     <%# if (action_name == 'show' && controller.controller_name == 'projects') %>
     <% if (action_name == 'dashboard') %>
        <li>
          <a data-toggle='dropdown' href='#' class='notification-menu' data-user-id='<%= current_user.id %>' data-project-id='<%= params[:id] %>' >
            <% total_notification = count_notification(params[:id], current_user.id) %>
            <span class="notification-value font-<%= total_notification.to_s.length %>">
                <%= total_notification %>
            </span>
          </a>

          <div class='notification-list dropdown-menu' data-projects-id='<%= params[:id] %>'>
            <div class='notification-title'>
              Project Notification
            </div>
            <ul role='menu' style='display: block;' aria-labelledby='dLabel' class='notification'>
              <% if @notifications.present? %>
                  <%= render :partial => 'shared/notification', :locals => {:@notifications => @notifications} %>
              <% end %>
            </ul>
          </div>
        </li>
    <% end %>
    <li class='dropdown'>
      <a data-toggle='dropdown' class='dropdown-toggle settings-dropdown' href='#'> <img src='/assets/settings.png'>
      </a>
      <ul role='menu' class='dropdown-menu' aria-labelledby='dLabel'>

        <li><%= link_to 'Account', profile_path, :method => :get %></li>

        <li><%= link_to 'Home', root_path, :method => :get %></li>

        <li><%= link_to 'Settings', settings_path, :method => :get %></li>

        <li><%= link_to 'Projects', projects_path, :method => :get %></li>
        <li class='divider'></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>

      </ul>
    </li>
  </ul>
  <ul class='nav navbar-right general-menu'>
    <li>
      <a href="#"> About Us </a>
    </li>
    <li>
      <a href="#"> Contact </a>
    </li>
    <li>
      <a href="#"> Support </a>
    </li>
    <li>
      <a href="#"> Blog </a>
    </li>
  </ul>
</nav>

<script>
$(document).off('click', '.notification-menu').on('click', '.notification-menu', function () {
   if( $('.notification-list').is(":visible"))
   {
       $('.notification-list').hide()
   }
    else{
       $('.notification-list').show();
   }
    project_id = $(this).attr('data-project-id');
    user_id = $(this).attr('data-user-id');

     $.ajax({
         url: '<%= destroy_notification_subcription_path() %>',
         type: 'post',
         datatype: 'script',
         data:{ project_id: project_id, user_id: user_id},
         success: function (data) {

         },
         error: function () {
         }
     });
});

</script>