<% @notifications.each do |notification| %>
    <% if is_read(notification) %>
        <li class="unread" data-task-id="<%= notification.task_id %>" data-project-id="<%= notification.task.project_id %>">
        <% else %>
        <li data-task-id="<%= notification.task_id %>" data-project-id="<%= notification.task.project_id %>">
        <% end %>
      <a href="<%= project_task_path(notification.task.project_id, notification.task_id) %>">
        <div class='pull-left'>
          <div class=' notification-image'>
            <%= image_tag(notification.user.image_url(:small_thumb)) %>
          </div>
        </div>
        <div class='pull-left'>
          <div class='notification-content'>
            <%= notification.context %>
          </div>
                <span class='notification-time'>
                  <i> <%= time_ago_in_words(notification.created_at) %> ago </i>
                </span>
        </div>
        <div class='clearfix'></div>
      </a>
    </li>
<% end %>
