<div id="dashboard" data-project-id="<%= @project.id %>" class="row-fluid">
  <%= render :partial => 'projects/project_nav', :locals => {:project => @project} %>
  <div class="task-content-wrapper">
    <div class="backlog task-category">
      <div class="title"> Backlog</div>
      <div class="task-content" data-task-status="1">
        <% @project.tasks.backlog.each do |task| %>
            <%= render :partial => 'tasks/task_item', :locals => {:task => task} %>
        <% end %>
      </div>
    </div>

    <div class="project-sprint task-category">
      <div class="title"> To Do</div>
      <div class="task-content" data-task-status="2">
        <% @project.tasks.todo.each do |task| %>
            <%= render :partial => 'tasks/task_item', :locals => {:task => task} %>
        <% end %>
      </div>
    </div>

    <div class="project-doing task-category">
      <div class="title"> Doing</div>
      <div class="task-content" data-task-status="3">
        <% @project.tasks.doing.each do |task| %>
            <%= render :partial => 'tasks/task_item', :locals => {:task => task} %>
        <% end %>
      </div>
    </div>

    <div class="project-finish task-category">
      <div class="title"> Finish</div>
      <div class="task-content" data-task-status="4">
        <% @project.tasks.finish.each do |task| %>
            <%= render :partial => 'tasks/task_item', :locals => {:task => task} %>
        <% end %>
      </div>
    </div>

    <div class="project-done task-category">
      <div class="title"> Done</div>
      <div class="task-content" data-task-status="5">
        <% @project.tasks.done.each do |task| %>
            <%= render :partial => 'tasks/task_item', :locals => {:task => task} %>
        <% end %>
      </div>
      <!--<ul ng-controller="taskCtrl">-->
      <!--<li ng-repeat='task in tasks'>-->
      <!--{{task}}-->
      <!--</li>-->
      <!--</ul>-->
    </div>
  </div>
</div>
<script id="new-task-item" type="text/template">
  <div data-project-id="{{project_id}}" id="task-{{id}}" data-task-id="{{id}}" class="task-item feature">
    <div class="pull-left content-left">
      <ul>
        <li class="task-name"> {{title}}</li>
        <li>
          <img title="End Date" src="/assets/date.png" alt="Date">
          <span class="task-end-date"> {{end_date}} </span>
        </li>
      </ul>
    </div>
    <div class="pull-right content-right">
      <ul>
        <li>
          <img title="Priority" src="/assets/task_{{priority}}.png" class="pull-right task-priority-icon" alt="Task high">

          <div class="clear-fix"></div>
        </li>
        <li style="vertical-align: middle;">
          <span class="total-effort"> {{effort}} </span>h <img title="Effort" src="/assets/effort.png" alt="Effort">
        </li>
        <li>
          <span class="glyphicon-class"></span>
          <img title="Md Nazrul Islam" src="/uploads/user/image/1/small_thumb_292762_3383628283285_742236737_n.jpg" class="img-circle assign-member" alt="Small thumb 292762 3383628283285 742236737 n">
          <a title="More" class="btn-link" href="javascript:void(0);"> ... </a>
        </li>
      </ul>
    </div>
    <div class="clear-fix"></div>
  </div>
</script>

<script id="notification-item-template" type="text/template">
  <li data-task-id="{{task_id}}" data-project-id="{{project_id}}">
    <a href="/project/{{project_id}}/tasks/{{task_id}}">
      <div class='pull-left'>
        <div class=' notification-image'>
          <img src="/uploads/user/image/1/small_thumb_292762_3383628283285_742236737_n.jpg" alt="Small thumb 292762 3383628283285 742236737 n">
        </div>
      </div>
      <div class='pull-left'>
        <div class='notification-content'>
          {{message}}
        </div>
    <span class='notification-time'>
            <i> {{time_ago}} ago </i>
    </span>
      </div>
      <div class='clearfix'></div>
    </a>
  </li>
</script>