<div id="dashboard" data-project-id="<%= @project.id %>" class="row-fluid">
  <%= render :partial => 'projects/project_nav', :locals => {:project => @project} %>
  <div class="task-content-wrapper">
    <div class="backlog task-category">
      <div class="title"> Backlog&#10092;<%= @project.tasks.backlog.count %>&#10093; </div>
      <div class="task-content" data-task-status="1">
        <% @project.tasks.backlog.each do |task| %>
            <%= render :partial => 'tasks/task_item', :locals => {:task => task} %>
        <% end %>
      </div>
    </div>

    <div class="project-sprint task-category">
      <div class="title"> To Do&#10092;<%= @project.tasks.todo.count %>&#10093; </div>
      <div class="task-content" data-task-status="2">
        <% @project.tasks.todo.each do |task| %>
            <%= render :partial => 'tasks/task_item', :locals => {:task => task} %>
        <% end %>
      </div>
    </div>

    <div class="project-doing task-category">
      <div class="title"> Doing&#10092;<%= @project.tasks.doing.count %>&#10093; </div>
      <div class="task-content" data-task-status="3">
        <% @project.tasks.doing.each do |task| %>
            <%= render :partial => 'tasks/task_item', :locals => {:task => task} %>
        <% end %>
      </div>
    </div>

    <div class="project-finish task-category">
      <div class="title"> Finish&#10092;<%= @project.tasks.finish.count %>&#10093; </div>
      <div class="task-content" data-task-status="4">
        <% @project.tasks.finish.each do |task| %>
            <%= render :partial => 'tasks/task_item', :locals => {:task => task} %>
        <% end %>
      </div>
    </div>

    <div class="project-done task-category">
      <div class="title"> Done&#10092;<%= @project.tasks.done.count %>&#10093; </div>
      <div class="task-content" data-task-status="5">
        <% @project.tasks.done.each do |task| %>
            <%= render :partial => 'tasks/task_item', :locals => {:task => task} %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/template/new_task' %>
<%= render 'shared/template/new_notification' %>
<%= render 'shared/template/new_checklist_item' %>
<%= render 'shared/template/new_checklist' %>