<div class="project-nav reset-margin">
  <div class="btn-group project-nav-control">
    <button type="button" class="btn btn-primary" id="btn-task">Task</button>
  </div>
  <% if is_project_owner!(project) %>
      <div class='project-nav-control add-project-member'>
        <button type='button' id='invite-member' class='btn btn-default'>Invite team member</button>
        <%= render 'shared/small_modal' %>
      </div>
  <% end %>
  <div class='project-nav-control project-name'>
    <a href='javascript:void(0);' class='btn btn-link project-title' data-id="<%= project.id %>">
      <b> <%= project.name %> </b> </a>
  </div>
  <div class='project-nav-control pull-right has-feedback'>
    <input type='text' id='search-field' class='form-control' data-project-id="<%= project.id %>">
    <span class='glyphicon glyphicon-remove cross-image clear-search hidden' data-project-id="<%= project.id %>"></span>
  </div>
  <div class='clearfix'></div>
</div>

<%= render 'shared/xlarge_modal' %>
<%= render 'shared/large_modal' %>

<script type='text/javascript'>

    $(document).ready(function () {
        $('#invite-member').click(function () {
            $.ajax({
                url: "<%= new_project_invite_path(project) %>",
                type: 'get',
                success: function (data) {
                    $('#small-modal .modal-body').html(data);
                    $('#small-modal .modal-title').html('Invite A Team Member');
                    $('#small-modal').modal('show');
                },
                error: function () {
                    popupMessage('failure', 'error');
                }
            });
        });

        $('#btnSave').click(function () {
            if ($('input[type=email]').val() == '') {
                $('#errorForName').html('Email cannot be empty.');
                $('#errorForName').css({'color': 'red'});
                return false;
            }

            $.ajax({
                url: "<%= project_invites_path(project) %>",
                type: 'post',
                datatype: 'script',
                data: $('#new_invite').serialize(),
                success: function (data) {
                    $('#small-modal').modal('hide');
                },
                error: function () {
                }
            });
        });

        $('#btn-task').click(function () {
            $.ajax({
                url: "<%= new_project_task_path(project) %>",
                type: 'get',
                success: function (data) {
                    $('#new-task').modal('show');
                    $('#new-task .modal-body').html(data);
                    $('#new-task .modal-title').html('New Task');
                },
                error: function () {
                }
            });
        });

        $('#btnSaveTask').click(function () {
            $.ajax({
                url: $('#new-task form').attr('action'),
                type: 'post',
                data: $('#new-task form').serialize(),
                dataType: 'script',
                success: function (data) {
                    $('#new-task').modal('hide');
                },
                error: function () {
                }
            });
        });
    });

    $(document).on('keyup', '#search-field', function (e) {
        if ($(this).val() == '') {
            $('.cross-image').addClass('hidden');
        }
        else {
            $('.cross-image').removeClass('hidden');
        }
        if (e.which == 13) {
            project_id = $('#search-field').attr('data-project-id');
            search_item = $('#search-field').val()
            $.ajax({
                url: "<%= search_path() %>",
                type: 'post',
                data: {search_item: search_item, project_id: project_id},
                dataType: 'script',
                success: function (data) {
                },
                error: function () {
                }
            });
        }

        $(document).off('click', '.clear-search').on('click', '.clear-search', function () {
            $('#search-field').val('');
            $(this).addClass('hidden');
            project_id = $('#search-field').attr('data-project-id');
            search_item = $('#search-field').val();
            $.ajax({
                url: "<%= search_path() %>",
                type: 'post',
                data: {search_item: search_item, project_id: project_id},
                dataType: 'script',
                success: function (data) {
                },
                error: function () {
                }
            });
        });
    });

</script>