<li>
  <a href="<%= project_path(project) %>" class='project-item'>
    <div class='project-name pull-left'>
      <b>
        <%= project.name %>
      </b>
    </div>
    <div class="graph-<%= project.id %>"></div>
    <canvas id="graph-<%= project.id %>" height='120'></canvas>
  </a>
</li>
<script type="text/javascript">
    $(function () {
        var BarChartData = {
            labels: ['Backlog', 'Todo', 'Doing', 'Resolved', 'Done'],
            datasets: [
                {
                    fillColor: "rgba(151,187,205,0.5)",
                    strokeColor: "rgba(151,187,205,0.8)",
                    highlightFill: "rgba(151,187,205,0.75)",
                    highlightStroke: "rgba(151,187,205,1)",
                    data: <%= project_statistic(project) %>
                }
            ]
        }

        var ctx = document.getElementById("graph-<%= project.id %>").getContext("2d");
        var project_statistics = new Chart(ctx).Bar(BarChartData, {
            responsive: true,
            datasetFill: false,
            scaleShowGridLines: false,
            scaleGridLineWidth: 1,
            maintainAspectRatio: false,
            tooltipFillColor: "rgba(0,0,0,0.7)"
        });
    })
</script>