<div class="project-nav">
  <div class="btn-group project-nav-control">
    <a class="btn-action add-card" href="javascript:void(0);" id="btn-task">
      <img src="/assets/new_project_icon.png" alt="add"/> Add Card
    </a>
    <% if is_project_owner!(project) %>
        <a id='invite-member' href="javascript:void(0);" class='btn-action'>
          <img src="/assets/add-user.png"/> Invitation
        </a>
        <%= render 'shared/small_modal' %>
    <% end %>
    <a class="btn-action add-filter">
      <img src="/assets/filter_add.png" alt='filter'> Filter
    </a>

    <div class="filter-popup">
      <div class="arrow" style="left: 50%;"></div>
      <h4 style="margin-bottom: 8px; color: #888"> Search Task </h4>
      <input type='text' id='search-field' class='form-control' data-project-id="<%= project.id %>">
      <span class='glyphicon glyphicon-remove clear-search hidden' data-project-id="<%= project.id %>"></span>
    </div>
    <a href="/projects" class="btn-action">
      <img src="/assets/activity-log.png" alt="log"/> Activity Log
    </a>
    <%= link_to(image_tag('statistics.png') + ' Statistics', statistics_project_path(project), :class => 'btn-action') %>
  </div>
  <div class="import_action">
    <%= form_tag import_path, :id => 'import_submit', multipart: true do %>
        <div class="import_wraper">
          <div class="import_button">
            <img src="/assets/import2.png" alt="log"/> Import
          </div>
          <input id="file" class="import_file" type="file" name="file"></div>
        <%= hidden_field :project_id, '', :value => project.id %>
    <% end %>
    <span class="glyphicon glyphicon-info-sign import_help" data-role='button' data-toggle="popover" data-placement="bottom" title="Import Help" data-content="You should import only csv or .xls and .xlsx File. And First line should be Header." data-trigger="hover"></span>
  </div>
  <div class="bratcamp pull-left">
    Project &#10093;&#10093;
    <a href='javascript:void(0);' class='project-title btn-action' data-id="<%= project.id %>">
      <%= project.name %>
    </a>
  </div>
  <!--<div class="pull-left">-->
  <!--<a href='javascript:void(0);' class='btn-action project-title' data-id="<%#= project.id %>">-->
  <!--<%#= project.name %>-->
  <!--</a>-->
  <!--</div>-->
  <div class="pull-right task-color-label-status">
    <span class="bug-task"></span> <span> Bug </span>
    <span class="finish_tomorrow"></span> <span> Urgent </span>
    <span class="finish_today"></span> <span> Today </span>
    <span class="upcoming"></span> <span> Upcoming </span>
  </div>
  <div class='clearfix'></div>
</div>

<%= render 'shared/xlarge_modal' %>
<%= render 'shared/large_modal' %>

<script type='text/javascript'>

    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            placement: 'bottom'
        });

        $("#file").change(function () {
            $("#import_submit").submit();
        });

        $(".add-filter").click(function () {
            $(this).next('.filter-popup').toggle();
            return false;
        });

        $('#invite-member').click(function () {
            $.ajax({
                url: "<%= new_project_invite_path(project) %>",
                type: 'get',
                success: function (data) {
                    $('#small-modal .modal-body').html(data);
                    $('#small-modal .modal-title').html('Invite A Team Member');
                    $('#small-modal').modal('show');
                },
                error: function () {
                    popupMessage('failure', 'error');
                }
            });
        });

        $('#btnSave').click(function () {
            if ($('input[type=email]').val() == '') {
                $('#errorForName').html('Email cannot be empty.');
                $('#errorForName').css({'color': 'red'});
                return false;
            }

            $.ajax({
                url: "<%= project_invites_path(project) %>",
                type: 'post',
                datatype: 'script',
                data: $('#new_invite').serialize(),
                success: function (data) {
                    $('#small-modal').modal('hide');
                },
                error: function () {
                }
            });
        });

        $('#btn-task').click(function () {
            $.ajax({
                url: "<%= new_project_task_path(project) %>",
                type: 'get',
                success: function (data) {
                    $('#new-task').modal('show');
                    $('#new-task .modal-body').html(data);
                    $('#new-task .modal-title').html('New Task');
                },
                error: function () {
                }
            });
        });

        $(document).off('click', '#btnSaveTask').on('click', '#btnSaveTask', function () {
            $.ajax({
                url: $('#new-task form').attr('action'),
                type: 'post',
                data: $('#new-task form').serialize(),
                dataType: 'script',
                success: function (data) {
                    $('#new-task').modal('hide');
                },
                error: function () {
                }
            });
        });
    });

    function search_result() {
        project_id = $('#search-field').attr('data-project-id');
        search_item = $('#search-field').val()
        $.ajax({
            url: "<%= search_path() %>",
            type: 'post',
            data: {search_item: search_item, project_id: project_id},
            dataType: 'script',
            success: function (data) {
            },
            error: function () {
            }
        });
    }

    $(document).on('keyup', '#search-field', function (e) {
        if ($(this).val() == '') {
            $('.clear-search').addClass('hidden');
        }
        else {
            $('.clear-search').removeClass('hidden');
        }
        if (e.which == 13) {
            search_result();
        }
        $(document).off('click', '.clear-search').on('click', '.clear-search', function () {
            $('#search-field').val('');
            search_result();
            $(this).addClass('hidden');
        });
    });

</script>