<div class='project-dashboard'>
  Project Dashboard
</div>
<div style="background: #f6f7f7">
  <div id='project-item-wrapper'>
    <div class="project-status">
      <h2 class='my-project'>
        My Project
        <a href='javascript:void(0)' id='btn-new-project' class='btn-primary btn-sm pull-right'>
            New Project
        </a>
      </h2>
      <ul class='project-list'>
        <% @projects.each do |project| %>
            <%= render :partial => 'projects/project_list', :locals => {:project => project} %>
        <% end %>
      </ul>
    </div>
    <div class="project-feed">
      <h2 class='activity-feed'> Activity feed </h2>

      <div class='feed-list'>
        <ul>
          <% @feeds.each do |feed| %>
              <li>
                <div class='feed-content'>
                  <b> <%= link_to(feed.task.project.name, project_path(feed.task.project.id)) %> </b>
                  <%= feed.user.name %>
                  <%= feed.context %>
                  <b style="display: block;"> <%= feed.task.title %> </b>
                </div>

                <span class='notification-time'>
                  <i> <%= time_ago_in_words(feed.created_at) %> ago </i>
                </span>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class='clearfix'></div>
  </div>
</div>

<%= render 'shared/small_modal' %>

<script type='text/javascript'>

    $(document).ready(function () {
        $('#btn-new-project').click(function () {
            $.ajax({
                url: "<%= new_project_path() %>",
                type: 'get',
                success: function (data) {
                    $('#small-modal .modal-body').html(data);
                    $('#small-modal .modal-title').html('New Project');
                    $('#small-modal').modal('show');
                },
                error: function () {
                    popupMessage('Failed to initialize new project', 'error');
                }
            });
        });

        $('#btnSave').click(function () {

            if ($('input[type=text]').val() == '') {
                $('#errorForName').html('Name cannot be empty.');
                $('#errorForName').css({'color': 'red'});
                return false;
            }

            $.ajax({
                url: "<%= projects_path() %>",
                type: 'post',
                data: $('#new_project').serialize(),
                success: function (data) {
                    $('#small-modal').modal('hide');
                    $('.project-list').prepend(data);
                    popupMessage('Project has been saved successfully', 'info');
                },
                error: function () {
                    popupMessage('Failed to create new project', 'info');
                }
            });
        });
        initProjectList();
    });

</script>
