<div id="statistics-container">
  <% statistics = task_history(@history) %>
  <%#= Project.create_statistics() %>
   <div class='statistics-filter'>
    <div class='filter-header'>
      <label> Statistics Filter </label>
      <label class='pull-right'> <%= link_to('Dashboard', dashboard_path(params[:id])) %> </label>
    </div>
    <form action='' method='get'>
      <div class='span12'>
        <div class='col-xs-6'>
          <select name='days'>
            <option value=''> -- Select --</option>
            <option value='7'> last 7 days</option>
            <option value='15'> last 15 days</option>
            <option value='30'> last 30 days</option>
          </select>
        </div>
        <div class='col-xs-6'>
          <select name='type'>
            <option value=''> -- Select Statistics Type --</option>
            <option value='7'> Task</option>
            <option value='15'> Bug</option>
          </select>
        </div>
      </div>
      <div class='span12'>
        <div class='col-xs-6 col-xs-offset-6 text-right'>
          <input type="submit" name="filter" class='btn btn-default' value='Filter Statistics'/>
        </div>
      </div>
    </form>
  </div>
  <div id="statistics">
    <canvas id="statistics-canvas" height="400" width="600"></canvas>
  </div>
  <div class="statistics-label">
    <span style="background: #939397; width: 15px; height: 15px;"> </span> Backlog
    <span style="background: #5BC0F8; width: 15px; height: 15px;"> </span> Todo
    <span style="background: #34BFCD; width: 15px; height: 15px;"> </span> Doing
    <span style="background: #1462AA; width: 15px; height: 15px;"> </span> Resolved
    <span style="background: #D54B1D; width: 15px; height: 15px;"> </span> Done
  </div>
</div>
<script type='text/javascript'>
    $(function () {
        var LineChartData = {
            labels: <%= statistics[:labels] %>,
            datasets: [
                {
                    pointColor: "#939397",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "#939397",
                    strokeColor: "#939397",
                    data: <%= statistics[:backlog] %>
                },
                {
                    pointColor: "#5BC0F8",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "#5BC0F8",
                    strokeColor: "#5BC0F8",
                    data: <%= statistics[:todo] %>
                },
                {
                    pointColor: "#34BFCD",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "#34BFCD",
                    strokeColor: "#34BFCD",
                    data: <%= statistics[:doing] %>
                },
                {
                    pointColor: "#1462AA",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "#1462AA",
                    strokeColor: "#1462AA",
                    data: <%= statistics[:resolved] %>
                },
                {
                    pointColor: "#D54B1D",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "#D54B1D",
                    strokeColor: "#D54B1D",
                    data: <%= statistics[:done] %>
                }
            ]
        }

        var ctx = document.getElementById("statistics-canvas").getContext("2d");
        var project_statistics = new Chart(ctx).Line(LineChartData, {
            responsive: true,
            datasetFill: false,
            scaleShowGridLines: false,
            scaleGridLineWidth: 1,
            maintainAspectRatio: false,
            tooltipFillColor: "rgba(0,0,0,0.7)"
        });
    })
</script>