<%= form_for(resource, as: resource_name, url: login_path(), :html => {:class => 'user-account user-sign-in'}) do |f| %>
    <header>
      <i class='fa fa-sign-in'></i> User SignIn
    </header>
    <fieldset>
      <section>
        <label class="input">
          <i class="icon-append icon-envelope-alt"></i>
          <%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'email' %>
          <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
        </label>
      </section>
      <section>
        <label class="input">
          <i class="icon-append icon-lock"></i>
          <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'password' %>
          <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
        </label>
      </section>
      <section>
        <%= link_to raw("<i class='fa fa-facebook'></i>") + " Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
      </section>
      <section>
        <label class="checkbox">
          <input name="checkbox" type="checkbox"> Remember me
        </label>
      </section>
    </fieldset>
    <footer>
      <%= f.submit  "Login", :class => 'button' %>
    </footer>
<% end %>

