<%= form_for(resource, as: resource_name, url: login_path(), :html => {:class => 'user-account user-sign-in'}) do |f| %>
    <header>
      <i class='fa fa-sign-in'></i> User SignIn
    </header>
    <div>
      <%= devise_error_messages! %>
    </div>
    <fieldset>
      <section>
        <label class="input">
          <i class="icon-append icon-envelope-alt"></i>
          <%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'email' %>
          <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
        </label>
      </section>
      <section>
        <label class="input">
          <i class="icon-append icon-lock"></i>
          <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'password' %>
          <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
        </label>
      </section>
      <section>
        <label class="checkbox reset-padding">
          <input id="remember-me" name="checkbox" type="checkbox">
          <label for="remember-me" class='checkbox-label'></label> Remember me
        </label>
      </section>
      <section>
        <%= render 'shared/social_signup' %>
      </section>
    </fieldset>
    <footer>
      <%= f.submit  "Login", :class => 'button' %>
    </footer>
<% end %>

