<div class='show-checklist' id="checklist-<%= checklist.id %>">
  <div class='checklist-title'>
    <%= form_for(checklist, :remote => true) do |cf| %>
        <%= cf.text_field :title, :class => 'hidden edit-check-item' %>
        <span class='editable'>
              <i class='fa fa-tasks fa-task-item'> </i> <%= checklist.title %>
        </span>
        <span class='checklist-action windows-action'>
          <%= link_to(raw("<span class='fa fa-sort-asc'></span>"), 'javascript:void(0);', :class => 'minimize-checklist reset-padding', :method => :delete, :remote => true) %>
          <%= link_to(raw("<span class='glyphicon glyphicon-remove'></span>"), checklist_path(checklist.id, :task_id => checklist.task.id), :class => 'remove-checklist reset-padding', :method => :delete, :remote => true) %>
        </span>
    <% end %>
  </div>
  <ul class='checklist-<%= checklist.id %> reset-margin'>
    <% checklist.checklist_items.each do |item| %>
        <%= render 'checklists/checklist_item', :item => item %>
    <% end %>
    <li>
      <%= form_for([checklist, ChecklistItem.new()], :remote => true) do |f| %>
          <%= f.text_field :title, :class => 'hidden add-check-item', :placeholder => 'add new checklist item...' %>
          <a href="javascript:void(0);" class="add-checklist-item"> new item.... </a>
      <% end %>
    </li>
  </ul>
</div>
