<li class="checklist-item-<%= item.id %>">
  <%= check_box_tag(:is_complete, '', item.is_complete, :class => 'complete-checklist', :id => "checklist-item-#{item.id}", :data => {:checklist => item.checklist.id, :id => item.id}) %>
  <label for="checklist-item-<%= item.id %>" class='checkbox-label'></label>
  <%= text_field_tag(:title, item.title, :class => 'hidden edit-check-item') %>
  <span class='editable <%= item.is_complete ? 'checklist-item-completed' : '' %>'>
    <%= item.title %>
    <i class="pull-right"> <%= time_ago_in_words(item.created_at) %> ago </i>
  </span>
  <span class='pull-right checklist-item-action'>
    <%= link_to(raw("<span class='fa fa-trash-o'></span>"), checklist_checklist_item_path(item.checklist.id, item.id), :class => 'remove-checklist', :method => :delete, :remote => true) %>
  </span>
</li>