<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    <li class="profile">
      <%= image_tag(current_user.image_url(:small_thumb)) if current_user.image? %> <b> <%= current_user.name %> </b>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle settings-dropdown" href="#"> <img src="/assets/settings.png"> </a>
      <ul role="menu" class="dropdown-menu" aria-labelledby="dLabel">

        <li><%= link_to "Account", edit_user_registration_path, :method => :get %></li>

        <li><%= link_to "Home", root_path, :method => :get %></li>

        <li><a href="#">settings</a></li>
        <li class="divider"></li>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>

      </ul>
    </li>
  </ul>
</nav>
