<!DOCTYPE html>
<html ng-app="processFlow">
<head>
  <title>ProcessFlow</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="body-content">
  <div id="container">
    <% if current_user.present? %>
        <%= render :partial => 'shared/nav' %>
    <% end %>
    <%= render :partial => 'shared/message_modal' %>
    <%= yield %>
  </div>
  <div class="product-footer">
    <div class="content-width">
      <div class="copyright"><span class="color_13" style="color: #ebebeb;">
            &copy; 2023 by The Management Company. Proudly created with
            <a style="cursor: pointer; color: #ebebeb;" href="http://processflow.herokuapp.com/" target="_blank">
              processflow
            </a>
        </span></div>
      <div class="social_link">
        <ul class="follow_link">
          <li><a href=""><i class="icon-twitter"></i></a></li>
          <li><a href=""><i class="icon-facebook"></i></a></li>
          <li><a href=""><i class="icon-dribbble"></i></a></li>
          <li><a href=""><i class="icon-linkedin"></i></a></li>
          <li><a href=""><i class="icon-instagram"></i></a></li>
        </ul>
      </div>
      <!--<p style="margin: 0; padding-top: 10px; float: left">-->
        <!--<span class="font_0" style="background: #fff; padding: 1px;"> Project Management </span>-->
        <!--<b class="font_0" style="color: white;"> Tools </b>-->
      <!--</p>-->

      <!--<p style="float: right; margin-top: 17px;">-->
        <!--<span class="color_13" style="color: #ebebeb;">-->
            <!--&copy; 2023 by The Management Company. Proudly created with-->
            <!--<a style="cursor: pointer; color: #ebebeb;" href="http://processflow.herokuapp.com/" target="_blank">-->
              <!--processflow-->
            <!--</a>-->
        <!--</span>-->
      <!--</p>-->
    </div>
  </div>
</div>
</body>
<script type="text/javascript">
    $(function() {
        $("html").niceScroll({
            styler:"fb",
            cursorcolor: '#8E91DF',
            cursorwidth: 10,
            cursorborder: '',
            cursoropacitymin: 1,
            cursorborderradius: 0
        });
    });
    <% @klass = flash[:notice].present? ? '' : 'error' %>
    <% flash.each do |name, msg| -%>
    popupMessage("<%= msg %>", "<%= @klass %>");
    <% end -%>
</script>
</html>
