<!DOCTYPE html>
<html>
<head>
  <title>ProcessFlow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body-background">
<% if current_user.present? %>
  <%= render :partial => 'layouts/nav' %>
<%end%>
<%= yield %>

</body>
</html>
