<!DOCTYPE html>
<html>
<head>
  <!--<link rel="icon" type="image/png" href="logo.png">-->
  <title>
    ProcessFlow: Home
  </title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="home-body">
  <div class="top-nav-wrapper">
    <div class="pull-left">
      <%= link_to(image_tag('logo.png'), root_path()) %>
    </div>
    <div class="pull-right" style="margin-top: -3px;">
      <a href="#" class="btn btn-default"> Blog </a>
      <a href="#" class="btn btn-default"> Login </a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="product-description">
    <h1> Very useful and easy development tools for ever </h1>

    <p>
      ProcessFlow is an open source project management tools. <br/> Signup for free and manage your project easily.
    </p>
    <a href="/account" class="btn btn-default"> Free Signup </a>
  </div>
  <%= yield %>
  <div class="product-feature-wrapper">
    <div class="product-feature">
      <div class="pull-left product-feature-list">
        <h1 class="project"> Project Board </h1>
        <ul>
          <li> Easy to create project</li>
          <li> Quick to invite project member</li>
          <li> Setup project deadline</li>
          <li> Graphical view of project statistic</li>
          <li> Project notification</li>
        </ul>
      </div>
      <div class="pull-left product-feature-list">
        <h1 class="task"> Task Board </h1>
        <ul>
          <li> Easy to create task</li>
          <li> Task details only click</li>
          <li> Easy to assign task to user</li>
          <li> Show task details progress</li>
          <li> Easy attached file and image</li>
          <li> Comments and replay</li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="product-footer">
    asd
  </div>
</div>
</body>
<script type="text/javascript">
    <% @klass = flash[:notice].present? ? '' : 'error' %>
    <% flash.each do |name, msg| -%>
    popupMessage("<%= msg %>", "<%= @klass %>");
    <% end -%>
</script>
</html>
