<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>
    ProcessFlow: Welcome
  </title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="header">
  <div class="container">
    <div class="logo-menu">
      <div class="logo">
        <h1>
          <a href="/" class="logo">
            <%= image_tag('processflow36.png') %>PROCESSFLOW
          </a>
        </h1>
      </div>
      <div id="mobile-header">
        <a class="responsive-menu-button" href="#">
          <%= image_tag('colleps.png') %>
        </a>
      </div>
      <div class="menu" id="navigation">
        <ul>
          <li><a href="/#home" class='active-menu'> <i class='fa fa-home'> </i> Home</a></li>
          <li><a href="#gallery"> <i class='fa fa-image'> </i> Gallery </a></li>
          <li><a href="#benefits"><i class='fa fa-clock-o'> </i> Benefits </a></li>
          <li><a href="#features"> <i class='fa fa-rocket'></i> Features</a></li>
          <li><a href="#contact"><i class='fa fa-user'> </i> Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="banner" id='home'>
  <div class='banner-container'>
    <div class="container">
      <div class="header-text">
        <p class="big-text">Let's Start The New Journey</p>

        <h2>Manage Your Project Easily </h2>

        <p class="small-text">Processflow is a free open source project management tools
          <a href="www.html5layouts.com"> HTML5 Layouts </a>
          and more easy and powerfull feature to manage project
        </p>

        <div class="button-section">
          <ul>
            <li><a href="#" class="top-button white">Learn More</a></li>
            <li><a href="/account" class="top-button green">Get Started</a></li>
          </ul>
        </div>
        <a href="/login" class='login-link'>
          or login
        </a>
      </div>
    </div>
  </div>
</div>

<!--<div class="color-border">-->
<!--</div>-->

<div class="desc">
  <div class="container">
    <h2> Processflow Is Compitable With Different Devise </h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mi nulla, in imperdiet arcu hendrerit in.
      Curabitur ut augue facilisis leo malesuada consequat.</p>
  </div>
</div>

<div class="color-border">
</div>

<div class="camera_wrap" id="gallery">
  <div data-src="/assets/slider/history.png"></div>
  <div data-src="/assets/slider/new_task.png"></div>
  <div data-src="/assets/slider/notification.png"></div>
</div>

<div class="features" id="features">
  <div class="container">
    <h3 class="text-head"> Benefits Of Processflow </h3>

    <div class="features-section">
      <ul>
        <li>
          <div class="feature-icon icon1"></div>
          <h4>Creative Design</h4>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mi nulla, in imperdiet arcu
            hendrerit in.</p>
        </li>
        <li>
          <div class="feature-icon icon2"></div>
          <h4>Save Your Time</h4>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mi nulla, in imperdiet arcu
            hendrerit in.</p>
        </li>
        <li>
          <div class="feature-icon icon3"></div>
          <h4>Fully Customization</h4>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mi nulla, in imperdiet arcu
            hendrerit in.</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="stories" id="benefits">
  <div class="container">
    <h3 class="text-head"> Feature Of Processflow </h3>

    <p class="box-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mi nulla, in imperdiet
      arcu hendrerit in.</p>

    <div class="stories-section">
      <ul>
        <li>
          <div class="feature-img">
            <%= image_tag('file/import_task.png') %>
          </div>
          <div class="story-box">
            <h4>Import Task</h4>
            <p>
              You can directly import task from your estimation file.
              Currently we are supporting .xle, .xlxs and cvs file. For importing your task you have to slite formatted your file.
            </p>
          </div>
        </li>
        <li>
          <div class="feature-img">
            <%= image_tag('file/history.png') %>
          </div>
          <div class="story-box">
            <h4> Task History </h4>
            <p>
              You can track down full task history, Which user create, update, comments, attach, assign task etc.
            </p>
          </div>
        </li>
        <li>
          <div class="feature-img">
            <%= image_tag('file/project_log.png') %>
          </div>
          <div class="story-box">
            <h4> Project Activity </h4>
            <p>
              You can show all your project activity, project summary, activity log etc.
            </p>
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="feature-img">
            <%= image_tag('file/project_stats.png') %>
          </div>
          <div class="story-box">
            <h4> Project Statistics </h4>
            <p>
              You can show your project stats day by day. So what you can manage you project smoothly.
            </p>
          </div>
        </li>
        <li>
          <div class="feature-img">
            <%= image_tag('file/upload.png') %>
          </div>
          <div class="story-box">
            <h4>Drag and Drop attachment </h4>
            <p>
              You can attachment you file easily and download and zoom option.
            </p>
          </div>
        </li>
        <li>
          <div class="story-img"><img src="images/story3.png"/></div>
          <div class="story-box">
            <h4> Comments and Reply </h4>
            <p>
              Easily comments and reply. You can edit your comments. Reply are align with a comments.
            </p>
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="feature-img">
            <%= image_tag('file/new_task.png') %>
          </div>
          <div class="story-box">
            <h4> Priority Based Task </h4>
            <p>
              You can easily create your task/bug, assign member, set estimation, set priority. You can track you task progress at task details.
              you can also convert a task to bug or vice varsa.
            </p>
          </div>
        </li>
        <li>
          <div class="feature-img">
            <%= image_tag('file/checklist.png') %>
          </div>
          <div class="story-box">
            <h4> TODO List </h4>
            <p>
              You can create checklist and task list. Also track the check list progress and manage checklist more easy.
            </p>
          </div>
        </li>
        <li>
          <div class="story-img"><img src="images/story3.png"/></div>
          <div class="story-box">
            <h4> Others </h4>
            <p>
              Also other useful tools to manage a project more easy.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="contact" id="contact">
  <div class="container">
    <h3 class="text-head"> Contact At Processflow </h3>

    <p class="box-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mi nulla, in imperdiet
      arcu hendrerit in.</p>

    <div class="contact-section landing-contract-form">
      <form>
        <input type="text" name="Name" placeholder="Name"/>
        <input type="email" name="email" placeholder="Email"/>
        <textarea placeholder="Message" rows="6"></textarea>
        <button type="submit" class="submit">Send Message</button>
      </form>

    </div>
  </div>
</div>
<div class="color-border">
</div>
<div class="footer">
  <div class="container">
    <div class="infooter">
      <p class="copyright">Copyright &copy; Processflow 2015 by
        <a class="credit" href="http://www.html5layouts.com"> www.processflow.com </a></p>
    </div>
    <ul class="socialmedia">
      <li><a href=""><i class="icon-twitter"></i></a></li>
      <li><a href=""><i class="icon-facebook"></i></a></li>
      <li><a href=""><i class="icon-dribbble"></i></a></li>
      <li><a href=""><i class="icon-linkedin"></i></a></li>
      <li><a href=""><i class="icon-instagram"></i></a></li>
    </ul>
  </div>
  <div class="sitemap">
    <a href="/#home"> Home</a> |
    <a href="#gallery"> Gallery </a> |
    <a href="#benefits"> Benefits </a> |
    <a href="#features"> Features</a> |
    <a href="#contact"> Contact</a>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.camera_wrap').camera({
            height: '40%',
            pagination: true
        }); //the basic method
        $('#simple-menu').sidr({
            side: 'right'
        });
    });

    $('.responsive-menu-button').sidr({
        name: 'sidr-main',
        source: '#navigation',
        side: 'right'
    });

    var menu_item = ['#home', '#gallery', '#features', '#benefits', '#contact'];

    $(document).ready(function () {
        $(window).scroll(function(e) {
            var active_menu = menu_item[0];
            var min_position = 9999999;
            var scroll_pos = $(document).scrollTop();
            for(var i = 0; i < menu_item.length; i++) {
                pos = $(menu_item[i]).position();
                dist = scroll_pos - (pos.top - $(menu_item[i]).height() + 350);
                if(Math.abs(dist) < min_position) {
                    active_menu = menu_item[i];
                    min_position = Math.abs(dist);
                }
            }
            console.log(active_menu);
            $('.menu a').removeClass('active-menu');
            $(".menu a[href*='"+active_menu+"']").addClass('active-menu');
        });

        $("html").niceScroll({cursorborder: "0px solid #fff", cursorwidth: "5px", scrollspeed: "70"});
    });
</script>
</body>
</html>
